body{
    margin: 0;
    padding-top: 30px;
}

.header{
    background-color: #000000;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    min-width: 60px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.container{
    background: linear-gradient(skyblue, rgb(65, 33, 33));
}

.mail-info{
    color: white;
    margin-left: 35px;
    width: 300px;
}

.right{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-shrink: 0;
}
.right a{
    text-decoration: none;
    color: white;
}



button{
    background-color: rgb(65, 63, 63);
    border: none;
    margin-right: 10px;
}

.staff-btn{
    padding: 4px 35px;
}
.staff-btn:hover{
    background-color: rgb(112, 23, 23);
}

.student-btn{
    padding: 4px 35px;
}
.student-btn:hover{
    background-color: rgb(112, 23, 23);
}

.alumni-btn{
    padding: 4px 35px;
}
.alumni-btn:hover{
    background-color: rgb(112, 23, 23);
}

.parent-btn{
    padding: 4px 35px;
}
.parent-btn:hover{
    background-color: rgb(112, 23, 23);
}

.give-btn{
    padding: 4px 35px;
}
.give-btn:hover{
    background-color: rgb(112, 23, 23);
}


.header-2{
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
}

#unilag-logo{
    height: 71px;
    width: 230px;
    padding-left: 4px;
    object-fit: contain;
}

.right-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search-sec{
    background: #510404;
    color: #ffffff;
    font-weight: 600;
    padding: 30px 30px 27px 52px;
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}



.menu-sec{
    background: #000000;
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 30px 30px 27px 52px;
}