body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 10%);
    max-width: 450px;
    overflow: hidden;
    border-radius: 15px;
}

#display{
    width: 100%;
    padding: 40px;
    background-color: rgb(37, 37, 37);
    color: white;
    border: none;
    font-size: 22px;
    text-align: left;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 30px;
    
}

button{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    background-color: rgb(53, 51, 51);
    color: white;
    font-size: 22px;
    font-weight: bold;
    transition: 0.3s ease;
}  
button:hover{
    background-color: rgb(44, 42, 42);
}
button:active{
    background-color: rgb(94, 87, 87);
}

.operator-btn{
    background-color: rgb(235, 74, 16);
    transition: 0.3s ease;
}
.operator-btn:hover{
    background-color: rgb(226, 60, 0);
}
.operator-btn:active{
    background-color: rgb(228, 88, 38);
}